<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="P2P_Chat_Monitor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <P2P_Chat_Monitor.My.MySettings>
            <setting name="WebhookURL" serializeAs="String">
                <value />
            </setting>
            <setting name="MentionID" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkModeOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChatID" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorID" serializeAs="String">
                <value />
            </setting>
            <setting name="QuestID" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatEmbedSet" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorEmbedSet" serializeAs="String">
                <value />
            </setting>
        </P2P_Chat_Monitor.My.MySettings>
    </userSettings>
</configuration>
