<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="P2P_Chat_Monitor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <P2P_Chat_Monitor.My.MySettings>
            <setting name="WebhookURL" serializeAs="String">
                <value />
            </setting>
            <setting name="MentionID" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkModeOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChatID" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorID" serializeAs="String">
                <value />
            </setting>
            <setting name="QuestID" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatEmbedSet" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorEmbedSet" serializeAs="String">
                <value />
            </setting>
            <setting name="QuestEmbedSet" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckChat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckQuest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TakeScreenshots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDelete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckErrReasons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckSkillsErr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckQuestsErr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckCombatErr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaskEmbedSet" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BotSelfie" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BotSelfieInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TaskID" serializeAs="String">
                <value />
            </setting>
            <setting name="SelfieID" serializeAs="String">
                <value />
            </setting>
            <setting name="BlurStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompositorSafe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberLastTool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastToolChoice" serializeAs="String">
                <value />
            </setting>
        </P2P_Chat_Monitor.My.MySettings>
    </userSettings>
</configuration>
